.day_info{
    font-family: 'Playfair Display', serif;
    position: absolute;
    left:20px;
    top: 20px;
    border: 2px solid thistle;
    border-radius: 30px;;
    height: 120px;
    width: 200px;
    font-size: 25px;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: thistle;
}

